.navbar{
    height: 15vh;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .navbar_nav{
    align-items: center;
  }
  
  .blue_button{
    color: #fff;
    font-weight: bold;
    padding: 5px 30px;
  }

  .navLink{
    font-weight: bold;
  }