
.container{
  margin-top: 0;
}

.rowHover {
  transition: transform 0.2s ease-in-out;
}

.rowHover:hover {
  transform: scale(0.95);
}

.pageWrapper{
  background-color: #E4F1F9;
  width: 100vw;
}

.dropdownStyle {
  border: #E4F1F9 0;
}

.pageWrapperContent{
  margin-top: 26vh;
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green{
  background-color: #90D800;
}

.red{
  background-color: #D43333;
}

.yellow{
  background-color: #FFEA32;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}

.content > div{
  padding: 10px;
}

.content div div{
  width: 70px;
  height: 70px;
  margin: 10px 0px;
  border: 1px #000 solid;
  border-radius: 5px;
}